<div class="mx-auto mt-8">
  <h1 class="text-4xl font-bold mb-6 text-center text-blue-600"><%= @service.name %></h1>

  <div class="bg-white p-8 rounded-lg shadow-md">
    <table class="min-w-full bg-white border border-gray-300 rounded-md">
      <tr>
        <td class="text-gray-600 text-lg font-bold pr-4">Description:</td>
        <td class="text-gray-800 text-lg"><%= @service.description %></td>
      </tr>
      <tr>
        <td class="text-gray-600 text-lg font-bold pr-4">Status:</td>
        <td class="<%= @service.status == 'active' ? 'text-green-600' : 'text-red-600' %> text-lg">
          <%= @service.status %>
        </td>
      </tr>
      <tr>
        <td class="text-gray-600 text-lg font-bold pr-4">Average Rating:</td>
        <td class="text-yellow-500 text-lg">
          <%= @service.average_rating.nil? ? 'N/A' : @service.average_rating %>
        </td>
      </tr>
      <tr>
        <td class="text-gray-600 text-lg font-bold pr-4">Price:</td>
        <td class="text-blue-600 text-lg">
          <%= number_to_currency(@service.price, unit: '$') %>
        </td>
      </tr>
    </table>

    <div class="mt-8 text-center">
      <%= link_to 'Back', services_path, class: 'text-blue-600 hover:underline text-lg' %>
    </div>
  </div>
</div>
